body{
    margin: 0;
    font-family: 'Roboto Slab', serif;
}
.wrapper{
    max-width: 1127px;
    width:100%;
    margin:0 auto;
    padding: 0 15px;
}
.row::after{
    clear:both;
    content:"";
    display:block;
}
.w-1{ 
    width:100%;
    float:left;
}
.w-2{
    width: 50%;
    float:left;
}
.w-3{
    width: 33.33%;
    float:left;
}
.w-4{ 
    width:25%;
    float:left;
}
.w-5{ 
    width: 20%;
    float:left;
}
.w-7{ 
    width: 14.28%;
    float:left;
}
.nav{
   position: relative;
   height: 100vh;
   background: url(../images/bg.jpg) no-repeat center;
   background-size: cover;
   padding-top: 20px;
}
.nav-other{
    position: relative;
    padding-top: 20px;
}
.nav-other .wrapper{
    position: relative;
    z-index: 1;
}
.align-right{
    text-align:right;
}
.flex{ 
    display: flex;
    align-items: flex-end;
}
#logo{
    margin: 10px 0 0 0;
}
#search{
    border-bottom: 1px solid #324950;
    display: inline-block;
    max-width: 350px;
    width: 100%;
    margin: 10px 0 43px 0;
}
#search input{
    font-size: 16px;
    color:#324950;
    background-color: transparent;
    border: none;
    max-width: 327px;
    height: 29px;
    width: 100%;
}
#search input::placeholder{
    color:#324950
}
#search button{
    background: url(../images/ico_search.png) no-repeat center;
    font-size: 0;
    height: 18px;
    width: 18px;
    border: none;
    cursor: pointer;
    margin-bottom: 8px;
}       
#menu ul{
    padding: 0;
    margin: 0;
    list-style: none;
}        
#menu ul li{
    display: inline;
    margin-left: 15px;
}        
#menu ul li a{
    color:#324950;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.4s;
}        
#menu ul li a:hover{
    color: #57984C;
} 
#burger-btn{
    display: none;
}
.nav .wrapper{
    position: relative;
    z-index: 1;
}
#slider{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}       
#slider h1{
    color: #735440;
    font-size: 48px;
    font-weight: bold;
}       
#slider a{
    display: block;
    background-color: #57984C;
    color: #fff;
    font-size: 16px;
    width: 160px;
    height: 55px;
    line-height: 55px;
    text-decoration: none;
}  
#categories{
    text-align: center;
    padding: 45px 0;
    /* max-width: 1600px; */
    margin: 0 auto;
}
#categories .row{
    display: flex;
    justify-content: center;
    align-items: baseline;
}
.text-category{
    margin-top: 20px;
}
#content-up{
    background: url(../images/Union.png) no-repeat center;
    background-color: #F7F7F7;
    font-size: 20px;
    padding: 78px 0;
}
.vision-mission {
    display: flex;
    justify-content: center;
    align-items: center;
}
.title{
    font-size: 64px;
    font-weight: bold;
    color: #324950;
    line-height: 147.7%;
    margin: 0;
}
.subtitle{
    font-size: 24px;
    font-weight: bold;
    color: #57984C;
    margin: 0;

}
.content-wrapper {
    text-align: left;
    margin-right: 30px;
}

.text-content{
    color: #324950;
    margin: 0;
    font-weight: normal;
    font-size: 20px;
    line-height: 162.7%;
}
.img-content1{
    margin-left: 15px;
}
.img-content2{
    margin-right: 80px;
}
.crosses{
color: #57984C;
font-size: 20px;
}

#content-down{
background-color: #EDEDED;
text-align: center;
padding: 78px 0;
}
.seeds{
    display: flex;
    justify-content: center;
    align-items: baseline; 
}
.line{
    margin: 25px 0 10px 0;
}
.w-3 p{
    margin: 0;
}
.footer {
    background-color: #324950;
    color: #B9B9B9;
    text-align: center;
    bottom: 0;
    width: 100%;
}
.footer p{
    margin: 0;
    padding: 20px 0;
}
.footer-content{
    display: flex;
    flex-direction: row;
    background-color:#2D3F45;
    padding: 15px 140px ;
    align-items: center;
    justify-content: space-around;
}

.social{
    display: flex;
    justify-content: space-between;
    width: 13%;
}

#links-footer{
    font-family: 'Roboto', serif;
}        

#links-footer ul{
    padding: 0;
    margin: 0;
    list-style: none;
}        
#links-footer ul li{
    display: inline;
    margin-left: 3.5em;
}

#links-footer ul li a{
    color:#ffffff;
    font-size: 16px;
    text-decoration: none;
    transition: color 0.4s;
}        

img {
    max-width: 100%;
    height: auto;
}

.bg-color-tomato{
    background-color:#f0fcf5;
}

#slider-img {
    margin-top: 20px;
}

.about-tomato{
    padding: 45px 0px;
}

.title-tomato{
    font-weight: bold;
    font-size: 44px;
    color: #324950;
}
.text-tomato {
    font-size: 17px;
    font-weight: normal;
    line-height: 162.7%;
    color: #324950;
}

.borderleft-line {
    border-left: 5px solid #EB5757; 
    border-radius: 3px;
    width: 0px;
  }
.text-with-borderleft, .white-table{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}
.white-table{
    margin-left: -20px;
    background-color: white;
    padding: 15px 30px;
}
.text-with-borderleft p{
    margin: 0;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.white-table-text {
    margin-right: 20px; 
    width: 33%;
}
.white-table-text h4{
    color: #324950;
    line-height: 162.7%;
    font-size: 20px;
    margin-bottom: 0;
}

.white-table-text:last-child {
    margin-right: 0;
}


.wrapper-tomato {
    display: flex;
    flex-wrap: wrap;
    max-width: 1127px;
    width:100%;
    margin:0 auto;
}

.tomato{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px
}
.tomato a{
    display: contents;
}
.tomato img {
    max-width: 92%;
    height: auto;
}
.tomato p{
    text-align: center;
    color: #57984C;
    background-color: #fff;
    margin: 0;
    width: 92%;
}
.tomato p a{  
    color: #57984C;
}

.bg-tomatoone{
    position: relative;
    background: url(../images/Tomato.png) no-repeat center;
    background-color: #F7F7F7; 
    padding-bottom: 220px; 
    z-index: 0;
}

.back-tomatoall a{
    font-size: 14px;
    color: #57984C;
    text-decoration: none;
}
.back-tomatoall p{
    margin: 0;
    padding: 20px 0;
}
.header-shadow{
    padding-bottom: 20px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index: 1;
}
.content-tomatoone{
    display: flex;
    flex-direction: row;
}
.content-tomatoone h1{
    font-size: 54px;
    color: #57984C;
    margin: 0;
    margin-bottom: 44px;
    line-height: 148%;
}
.text-right-tomatoone{
    display: flex;
    align-items: center;
    margin-top: 44px;
}
.text-right-tomatoone span{
    font-size: 30px;
    font-weight: bold;
    color: #57984C;
    margin-left: 35px;
}
.title-tomatoone{
    color: #57984C;
    width: 26%;
    margin-top: 44px;
}
.title-tomatoone hr{
    border-top: 1px solid #57984C;
    width: 100%;
}
.characteristics-text{
    font-size: 17px;
    color: #324950;
}
.ul-tomatoone{
    color: #324950;
    padding: 0;
    margin: 0;
    padding-left: 20px;
}
.ul-tomatoone li{
    margin-bottom: 15px;
    color: #57984C
}
.ul-tomatoone li span{
    color: #324950
}
.text-tomatoone{
    color: #324950;
}

.pdf-download-button {
    display: inline-flex;
    align-items: center;
    padding: 6px 32px;
    margin-top: 30px;
    border-radius: 25px;
    border: 3px solid #57984C;
    color: #57984C;
    text-decoration: none;
    font-weight: bold;
    font-size: 17px;
}

.pdf-icon::before {
    content: url('../images/pdf.png');
    margin-right: 20px;
}

.img-tomato{
 width: 100%;
}
.btn-pdf-tomato{
    text-align: end;
}

.bg-color-contactus{
    background-color:#E5E5E5;
    padding-bottom: 30px;
}

.title-contactus{
    font-weight: bold;
    font-size: 44px;
    color: #324950;
}

form{
    margin-top: 35px;
    color:#324950 ;
}

.forma-contactus{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.forma-contactus .forma-content:first-child{
    width: 30%;
}
.forma-contactus .forma-content:last-child{
    width: 55%;
}
.forma-items{
    display: flex;
    flex-direction: column;
}

input, select, textarea{
    font-family: 'Roboto Slab', serif;
    color: #324950;
}

input[type=text], input[type=email],
select, textarea
{
    border-radius: 8px;
    border-style: none;
    border: #dadada 1px solid;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}
textarea{
    resize: none;
}
.submit-forma-contactus{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
}
.submit-forma-contactus input[type=text]{
    margin: 0;
    width: 33%;
}
input[type=submit]{
    cursor: pointer;
    color: white;
    border-radius: 25px;
    background-color:#57984C ;
    border-style: none;
    padding: 0 20px;
    width: 33%;
}

.address{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #324950;
    line-height: 150%;
    margin-top: 35px;
    margin-bottom: 35px;
}
.address hr{
    width: 9em;
    border-top: 1px solid #57984C;
    margin: 10px 0;
}
.address p{
    margin: 0;
    font-size: 17px;
}
.address a{
    text-decoration: none;
    color: #57984C;
}
.address span{
    font-size: 20;
    font-weight: bold;
    color: #57984C;
}