.footer-content {
    display: flex;
    flex-direction: row;
    background-color: #2D3F45;
    padding: 15px 5px;
    align-items: center;
    justify-content: space-around;
}

.social {
    display: flex;
    justify-content: space-between;
    width: 13%;
}

#links {
    font-family: 'Roboto', serif;
}

#links ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

#links ul li {
    display: inline;
    margin-left: 3.5em;
}

#links ul li a {
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
    transition: color 0.4s;
}

.footer {
    background-color: #324950;
    color: #B9B9B9;
    padding: 3px 0px;
    text-align: center;
    bottom: 0;
    width: 100%;
}


.footer_content {
    flex-direction: column;
}