<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/responsive.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js" defer></script>
    <script src="../js/main.js" defer></script>
    <script src="../js/script.js" defer></script>
    <title>Contact us</title>
</head>
<body>
    <div class="header">
      <div class="nav-other">
        <div class="wrapper">
        <div class="row">
        <div class="w-2">
          <div id="logo">
            <a href="../index.html"><img src="../images/Logo.png" alt="Logo"></a>
          </div>
        </div>
        <div class="w-2 align-right">
          <div id="search">
            <div id="search-in" class="flex">
              <input type="search" placeholder="Search">
              <button>Submit</button>
            </div>
          </div>
          
          <div id="menu">
            <ul>
              <li><a href="../index.html">Home</a></li>
              <li><a href="">Company Profile</a></li>
              <li><a href="tomatoall.html">Products</a></li>
              <li><a href="">Services</a></li>
              <li><a href="">R & D</a></li>
              <li><a href="contactus.html">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div id="burger-btn">
        <span></span>
      </div>
    </div>
  </div>
    </div>
    <div class="content">
      <div class="bg-color-contactus">
          <div id="slider-img">
              <img src="../images/contact_us.jpg" alt="tomatoes">
          </div>
          <div class="wrapper">
          <h1 class="title-contactus">Contact us</h1>
          <p class="crosses">×××××</p>
            
          <div id="cabbage-app">
            <div class="cart-wrapper"  v-if="cartVisible">
              <div class="cart-item" v-for="item in product">
                <div class="w-4"><img v-bind:src="item.image" alt="item.title"></div>
                <div class="w-4">{{item.title}}</div>
                <div class="w-4">{{item.short_text}}</div>
                <div class="w-4" @click.prevent="removeFromCart(item.id)"><button class="btn-no-style">×</button></div>
              </div>
            </div>

            
            <form @submit.prevent="makeOrder">
              <div class="forma-contactus">
                <div class="forma-content">
                  <div class="forma-items">
                    <label for="Name">Name *</label>
                    <input type="text" name="Name" v-model="contactFields.name" required>
                </div>
                <div class="forma-items">
                    <label for="Company_Name">Company Name *</label>
                    <input type="text" name="Company_Name" v-model="contactFields.companyName" required>
                </div>
                <div class="forma-items">
                    <label for="Position">Position *</label>
                    <input type="text" name="Position" v-model="contactFields.position" required>
                </div>
                <div class="forma-items">
                    <label for="City">City *</label>
                    <input type="text" name="City" v-model="contactFields.city" required>
                </div>
                <div class="forma-items">
                    <label for="Country">Country *</label>
                    <input type="text" name="Country" v-model="contactFields.country" required>
                </div>
                <div class="forma-items">
                    <label for="Telephone">Telephone *</label>
                    <input type="text" name="Telephone" v-model="contactFields.telephone" required>
                </div>
                <div class="forma-items">
                    <label for="Email">Email *</label>
                    <input type="email" name="Email" v-model="contactFields.email" required>
                </div>
                </div>
                <div class="forma-content">
                  <div class="forma-items">
                    <label for="You_are_a">You are a *</label>
                    <select name="You_are_a" v-model="contactFields.youAre" required>
                        <option value="seed_producer">seed producer</option>
                        <option value="seed_2">seed 2</option>
                        <option value="seed_3">seed 3</option>
                    </select>
                </div>
                <div class="forma-items">
                    <label for="Other_specify">If other, please specify *</label>
                    <input type="text" name="Other_specify" v-model="contactFields.otherSpecify" required>
                </div>
                <div class="forma-items">
                    <label for="Interested">You are interested in *</label>
                    <textarea name="Interested" cols="30" rows="16" v-model="contactFields.interested" required></textarea>
                </div>
                <div class="forma-items">
                    <label for="capcha">Please type this code *</label>
                    <div class="submit-forma-contactus">
                        <img src="../images/capcha.png" alt="capcha">
                        <input type="text" name="capcha" v-model="contactFields.capcha" required>
                        <input type="submit" value="Send Message" :disabled="formSubmitted">
                    </div>
                </div>
                </div>
              </div>
            </form>
          </div>
          </div>
      </div>
      <div class="address">
            <span>Our Address</span>
            <hr>
            <p>AGRIDERA Seeds & Agriculture Ltd.</p>
            <p>P.O Box 103,</p>
            <p>Gedera 70750, Israel</p>
            <p>Telephone: <a href="tel:+97289449222">+972 8 944 9222</a> </p>
    </div>
    </div>
    <div class="footer">
        <div class="footer-content">
          <div id="links-footer">
            <ul>
              <li><a href="">PROFILE</a></li>
              <li><a href="">MANAGEMENT</a></li>
              <li><a href="tomatoall.html">PRODUCTS</a></li>
              <li><a href="">R&D</a></li>
              <li><a href="">LINKS</a></li>
              <li><a href="">SITEMAP</a></li>
              <li><a href="contactus.html">CONTACT</a></li>
            </ul>
          </div>
          
          <div class="social">
              <a href=""><img src="../images/Ico_in.png" alt="in"></a>
              <a href=""><img src="../images/Ico_inst.png" alt="inst"></a>
              <a href=""><img src="../images/Ico_tube.png" alt="youtube"></a>
              <a href=""><img src="../images/Ico_tw.png" alt="twitter"></a>
              <a href=""><img src="../images/Ico_fb.png" alt="facebook"></a>
          </div>      
        </div>
        <p>AGRIDERA SEEDS & AGRICULTURE LTD. © 2020</p>
    </div>
</body>
</html>